/*Tema de PrimeNG*/
@import "primeng/resources/themes/lara-dark-purple/theme.css";
@import "primeng/resources/primeng.css";

/*Iconos de PrimeNG*/
@import "primeicons/primeicons.css";

/*PrimeFlex - Sistema de grid y utilidades css*/
@import "primeflex/primeflex.css";

/*Estilos globales de la app*/
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--surface-ground);
    color: var(--text-color);
    min-height: 100vh;
} */

/*Utilidades globales*/
/* .w-full { width: 100%; }
.h-screen { height: 100vh; } */